# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# polyfills
/public/js/polyfills/*.js
!/public/js/polyfills/object.hasown.js

# misc
.DS_Store
*.pem

# debug
next-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel
.million

# typescript
*.tsbuildinfo
next-env.d.ts

sw.js

.vscode/
.vim/

# locales
src/locales/**/*.mjs
