# Ignore entire directories
node_modules/
dist/
build/

.next/

# Ignore specific files
*.min.js
*.min.css

# Ignore locales
*.po

# Ignore all files of a specific type in a specific directory
public/*.html
public/js/*.js

# Ignore specific files in a directory
src/specialFile.js

# Ignore files based on wildcard patterns
**/vendor/**/*.js

# Ignore git submodule
src/maskbook
pnpm-lock.yaml
