@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollable-tab {
        overflow-x: auto;
        max-width: 100%;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollable-tab::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --foreground-rgb: 0 0 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --color-main: 7 16 27;
    --color-main-light: 7 16 27;
    --color-link: 142 150 255;
    --color-bottom: 255 255 255;
    --color-dark-bottom: #181818;
    --color-secondary-success: 24 195 123;
    --color-second: #767676;
    --color-primary-pink: 255 150 142;
    --color-danger: 255 53 69;
    --color-warn: 255 177 0;
    --color-lens-primary: 154 227 42;
    --color-farcaster-primary: 146 80 255;
    --color-twitter-primary: 29 161 243;
    --color-secondary: rgba(118, 127, 141, 1);
    --color-collected: 255 150 142;
    --color-bottom80: rgba(255, 255, 255, 0.8);
    --color-bottom-blue: rgba(36, 107, 253, 1);
    --color-bg: rgba(249, 249, 249, 1);
    --color-bg-modal: rgba(249, 249, 249, 1);
    --color-bg-modal-layer: 217 217 217;
    --m-modal-title-bg: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%),
        linear-gradient(
            90deg,
            rgba(98, 152, 234, 0.2) 1.03%,
            rgba(98, 152, 234, 0.2) 1.04%,
            rgba(98, 126, 234, 0.2) 100%
        );
    --color-main1: rgba(183, 183, 183, 1);
    --color-main2: rgba(207, 207, 207, 1);
    --color-main3: rgba(243, 243, 243, 1);
    --color-main4: rgba(24, 24, 24, 1);
    --color-tooltip-bg: rgba(24, 24, 24, 0.9);
    --color-third: rgba(177, 177, 177, 1);
    --color-input: rgba(245, 245, 245, 1);
    --color-line: rgba(239, 243, 244, 1);
    --color-line2: rgba(231, 231, 231, 1);
    --color-light-bg: #f9f9f9;
    --color-light-main: #181818;
    --color-bottom-bg: rgba(0, 0, 0, 0.05);
    --color-tab-line: rgba(29, 155, 240, 1);
    --color-success: rgba(61, 194, 51, 1);
    --color-firefly-brand: rgba(146, 80, 255, 1);
    --m-common-danger: #ff3545;
    --m-common-warn: #ffb100;
    --m-light-bottom: #fff;
    --plyr-audio-controls-background: rgba(243, 243, 243, 1);
    --plyr-range-thumb-height: 0px;
    --plyr-range-track-height: 12px;
    --plyr-control-radius: 12px;
    --plyr-range-fill-background: rgba(118, 118, 118, 1);
    --plyr-audio-progress-buffered-background: rgba(207, 207, 207, 1);
    --plyr-control-icon-size: 16px;
    --color-success: #3dc233;
    --color-fail: #ff3545;
}

.dark {
    --foreground-rgb: 255 255 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-main: 245 245 245;
    --color-link: 142 150 255;
    --color-bottom: 3 3 3;
    --color-dark-bottom: #181818;
    --color-second: rgba(255, 255, 255, 0.78);
    --color-secondary-success: 24 195 123;
    --color-primary-pink: 255 150 142;
    --color-danger: 255 53 69;
    --color-warn: 255 177 0;
    --color-lens-primary: 154 227 42;
    --color-twitter-primary: 29 161 243;
    --color-farcaster-primary: 146 80 255;
    --color-collected: 255 150 142;
    --color-bottom80: rgba(0, 0, 0, 0.8);
    --color-bottom-blue: rgba(36, 107, 253, 1);
    --color-main1: rgba(255, 255, 255, 0.28);
    --color-main2: rgba(255, 255, 255, 0.13);
    --color-main3: rgba(255, 255, 255, 0.11);
    --color-main4: rgba(245, 245, 245, 1);
    --color-tooltip-bg: rgba(255, 255, 255, 0.9);
    --color-third: rgba(255, 255, 255, 0.44);
    --color-secondary: rgba(255, 255, 255, 0.78);
    --color-bg: rgba(255, 255, 255, 0.08);
    --color-bg-modal: rgba(0, 0, 0);
    --color-bg-modal-layer: 217 217 217;
    --m-modal-title-bg: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.06) 100%);
    --color-input: rgba(255, 255, 255, 0.15);
    --color-line: rgba(255, 255, 255, 0.18);
    --color-line2: rgba(255, 255, 255, 0.43);
    --color-light-bg: rgba(255, 255, 255, 0.08);
    --color-light-main: #f5f5f5;
    --color-tab-line: var(--color-firefly-brand);
    --color-firefly-brand: rgba(146, 80, 255, 1);
    --plyr-audio-controls-background: transparent;
    --plyr-range-thumb-height: 0px;
    --plyr-range-track-height: 12px;
    --plyr-control-radius: 12px;
    --plyr-range-fill-background: rgba(255, 255, 255, 0.78);
    --plyr-audio-progress-buffered-background: rgba(255, 255, 255, 0.13);
    --plyr-control-icon-size: 16px;
    --color-card: white;
}

.dark .plyr__control {
    background: inherit !important;
}

.dark .plyr__progress__buffer {
    color: #0000 !important;
}

.preview-actions {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-main: 245 245 245;
    --color-link: 142 150 255;
    --color-bottom: 3 3 3;
    --color-dark-bottom: #181818;
    --color-secondary-success: 24 195 123;
    --color-primary-pink: 255 150 142;
    --color-danger: 255 53 69;
    --color-warn: 255 177 0;
    --color-bottom80: rgba(0, 0, 0, 0.8);
    --color-main1: rgba(255, 255, 255, 0.28);
    --color-main2: rgba(255, 255, 255, 0.13);
    --color-main3: rgba(255, 255, 255, 0.11);
    --color-third: rgba(255, 255, 255, 0.44);
    --color-second: rgba(255, 255, 255, 0.78);
    --color-bg: rgba(255, 255, 255, 0.08);
    --color-input: rgba(255, 255, 255, 0.15);
    --color-line: rgba(255, 255, 255, 0.18);
    --color-line2: rgba(255, 255, 255, 0.43);
    --color-light-bg: rgba(255, 255, 255, 0.08);
    --color-light-main: #f5f5f5;
    --color-firefly-brand: rgba(146, 80, 255, 1);
    --plyr-audio-controls-background: inherit;
    --plyr-range-thumb-height: 0px;
    --plyr-range-track-height: 12px;
    --plyr-control-radius: 12px;
    --plyr-range-fill-background: rgba(255, 255, 255, 0.78);
    --plyr-audio-progress-buffered-background: rgba(255, 255, 255, 0.13);
    --plyr-control-icon-size: 16px;
}

html,
body {
    overscroll-behavior-y: none;
}

html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    box-sizing: border-box !important;
    -webkit-text-size-adjust: 100% !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
    /*  These !important rules prevent the overriding of website styles by Maskbook when injecting widgets from it. */
    font-family: var(--font-inter);
    line-height: inherit !important;
    color: rgb(var(--color-main)) !important;
    background: rgb(var(--color-bottom)) !important;
}

.spotify-player iframe {
    height: 152px !important;
    border-radius: 16px !important;
}

iframe {
    width: 100%;
}

/* Markup styles */
.markup > p,
ul {
    @apply !leading-6 sm:!leading-7;
    @apply [&:not(:last-child)]:mb-2;
}

.lp-player {
    @apply [&>div>div]:shadow-none;
    @apply [&>div>div]:border;
    @apply [&>div>div]:border-gray-100;
    @apply [&>div>div]:dark:border-gray-700;
}

.plyr__time {
    font-weight: 700;
    color: var(--color-second);
    font-size: 16px;
    line-height: 24px;
}

.plyr__control {
    background: var(--color-third) !important;
    color: rgb(var(--color-main)) !important;
    padding: 8px !important;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

/* turn scrollbar into dark mode */
html.dark {
    color-scheme: dark;
}

html,
body {
    scrollbar-gutter: stable;
}

.SnackbarContainer-root {
    max-width: 100% !important;
}

@media (min-width: 990px) {
    .SnackbarContainer-root {
        width: auto;
        max-width: 400px !important;
    }
}

.SnackbarContainer-root .SnackbarItem-message {
    overflow: auto !important;
    display: flex !important;
}

.SnackbarContainer-root .SnackbarContent-root {
    display: flex !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    border-radius: 12px !important;
}

.SnackbarItem-action {
    margin-left: auto !important;
}

.SnackbarItem-variantError {
    background-color: #ff3545 !important;
}

.account-settings {
    background: none !important;
}

.account-settings .tippy-content {
    padding: 0;
}

.preview-actions .swiper-button-disabled {
    display: none;
}

.tippy-card {
    background: none !important;
}

[data-hide-scrollbar] {
    scrollbar-width: none;
}

[data-hide-scrollbar]::-webkit-scrollbar {
    display: none;
}

body.not-support {
    padding-top: 38px;
}

body.not-support .sticky.top-0,
body.not-support .sticky.inset-0,
body.not-support .sticky.inset-y-0,
body.not-support .fixed.top-0,
body.not-support .fixed.inset-0,
body.not-support .fixed.inset-y-0 {
    top: 38px;
}

/* reset giphy search bar css */
.ff-giphy-search-bar > div {
    display: none;
}
.ff-giphy-search-bar > input {
    height: 32px;
    box-shadow: none !important;
}
.ff-giphy-grid .giphy-gif {
    cursor: pointer;
}

.image-swiper-slide > div {
    display: flex;
    justify-content: center;
}

.wallet-adapter-modal-list .wallet-adapter-button {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.wallet-adapter-modal-list li {
    width: 100%;
}

.wallet-adapter-modal-list .wallet-adapter-button .wallet-adapter-button-start-icon {
    min-width: 28px;
}

.schedule-time-picker .react-time-picker__wrapper {
    border: none;
    display: flex;
}

.schedule-time-picker input {
    background-color: transparent !important;
}

.schedule-time-picker select {
    background-color: transparent !important;
}

.react-time-picker__clock-button {
    order: -1;
}

.react-time-picker__clock {
    display: none !important;
}

.custom-date-picker {
    background: var(--color-bg-modal);
    border-radius: 0.5rem;
}

.custom-date-picker * {
    color: rgb(var(--color-main)) !important;
}

.custom-date-picker button.Mui-disabled {
    opacity: 0.5;
}

.schedule-task-list [data-test-id='virtuoso-item-list'] {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.custom-time-picker {
    overflow: unset;
    color: rgb(var(--color-main)) !important;
}

.custom-time-picker > * {
    overflow-x: auto;
    max-width: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.custom-time-picker > *::-webkit-scrollbar {
    display: none;
}

.custom-time-picker .MuiMenuItem-root.Mui-selected {
    border-radius: 8px;
}

.custom-time-picker > :first-child {
    border-right: 1px solid var(--color-line2);
}
